@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.our-team {
  .swiper {
    user-select: none;
    .swiper-wrapper {
      padding-bottom: 4.5rem;
    }
    .swiper-pagination {
      bottom: 0;
      .swiper-pagination-bullet {
        @include square_ele(15px);
        border: 1px solid #fff;
        border-radius: 0;
        background-color: transparent;
        opacity: 1;
        cursor: pointer;
      }
      .swiper-pagination-bullet-active {
        background-color: $yellow-color;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          border: inherit;
          @include square_ele(8px);
          @include center_transform();
        }
      }
    }
  }
}
