@use "../../sass/variables" as *;

.our-team {
  .swiper {
    user-select: none;
    .swiper-wrapper {
      padding-bottom: 4.5rem;
    }
    .swiper-pagination {
      bottom: 0;
      .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        border: 1px solid #fff;
        border-radius: 0;
        background-color: transparent;
        cursor: pointer;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background-color: $yellow-color;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border: inherit;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
