@use "../../sass/variables" as *;

.scroll-to-top {
  background-color: $yellow-color;
  padding: 8px 10px;
  z-index: 1000;
  inset-inline-end: -100px;
  cursor: pointer;
  transition: $main-transition * 2;
  &.active {
    inset-inline-end: 0;
  }
}
