@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.model-btn {
  @include square_ele(70px);
  background-color: $yellow-color;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $yellow-color;
    border-radius: 50%;
    z-index: -1;
    opacity: 1;
    animation: btn_animation 1.5s 1s infinite;
  }
  svg {
    transform: rotate(90deg);
    transition: $main-transition;
  }
  &:hover {
    box-shadow: 0 0 0 $yellow-color;
    svg {
      color: #000 !important;
    }
  }
}
