@keyframes go-up {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes img-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes btn_animation {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.2;
    transform: scale(2);
  }
}

@keyframes portfolio_animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes loading {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2.5);
  }
}
