@use "./variabled" as *;

@mixin button($bg-color, $after-bg-color, $at-hover) {
  background-color: $bg-color;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    height: 0;
    background-color: $after-bg-color;
    z-index: -1;
    transition: $main-transition;
  }
  &:hover {
    @if ($at-hover == "color") {
      color: $yellow-color !important;
    }
    @if ($at-hover == "border") {
      border-color: $yellow-color !important;
    }
    &::after {
      height: 100%;
    }
  }
}
