@use "../../sass/variables" as *;

.tags {
  .tags_list {
    .tag {
      transition: $main-transition;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: $yellow-color !important;
      }
    }
  }
}
