@use "../../sass/variables" as *;

.tags {
  .tag {
    margin-inline-end: 1rem;
    transition: $main-transition;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: $yellow-color !important;
    }
  }
}
