@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.testimonial {
  .swiper {
    .swiper-slide {
      width: calc(100% - 100px) !important;
      margin-inline-end: 100px !important;
      img {
        width: 70px;
      }
      .info {
        color: $yellow-color;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      @include square_ele(50px);
      inset-inline-start: calc(100% - 75px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      border-radius: 50%;
      transform: translateY(50%);
      &::after {
        @include square_ele(100%);
        @include center_flex();
        background-color: #fff;
        color: #000;
        border-radius: 50%;
        font-size: 25px;
        transition: $main-transition;
      }
      &:hover::after {
        color: #fff;
        background-color: $yellow-color;
      }
    }
    .swiper-button-prev {
      top: calc(50% - 60px);
    }
    .swiper-button-next {
      top: calc(50% + 10px);
    }
  }
  .testimonial_image {
    padding: 100px;
    &::after,
    &::before {
      content: "";
      position: absolute;
      border: 2px dashed $yellow-color;
      border-radius: 50%;
    }
    &::after {
      inset: 0;
    }
    &::before {
      inset: 50px;
    }
    img:not(:first-of-type) {
      width: 60px;
      animation: img-animation 4s linear infinite alternate;
      z-index: 1;
      &:nth-of-type(2) {
        top: 50px;
        inset-inline-start: 50px;
        animation-delay: 0s;
      }
      &:nth-of-type(3) {
        top: 0px;
        inset-inline-start: calc(50% + 50px);
        animation-delay: 0.5s;
      }
      &:nth-of-type(4) {
        top: calc(50% - 50px);
        inset-inline-end: 0;
        animation-delay: 1s;
      }
      &:nth-of-type(5) {
        bottom: 0;
        inset-inline-start: calc(50% + 30px);
        animation-delay: 1.5s;
      }
      &:nth-of-type(6) {
        top: calc(50% + 70px);
        inset-inline-start: 30px;
        animation-delay: 2s;
      }
    }
  }
}
