@use "../../sass/variables" as *;

.blog-details {
  .image {
    img {
      height: 400px;
      object-fit: cover;
    }
  }
  .blockquote {
    border-color: $yellow-color !important;
    svg {
      top: 27px;
      color: $yellow-color;
      [dir="rtl"] & {
        transform: rotateY(180deg);
      }
    }
  }
  hr {
    border-top: 1px dashed;
  }
  .tags {
    .title {
      margin-inline-end: 1rem;
    }
  }
}
