@use "../../sass/variabled" as *;
@use "../../sass/animations" as *;

.navbar {
  // @media (max-width: 991px) {
  //   background-color: #fff !important;
  // }
  // navbar-brand
  .navbar-brand {
    -webkit-text-fill-color: #333;
    -webkit-text-stroke: 1px $yellow-color;
    &::before {
      content: attr(custom-data);
      position: absolute;
      -webkit-text-fill-color: $yellow-color;
      width: 0;
      overflow: hidden;
      transition: $main-transition;
    }
    &:hover::before {
      width: 100%;
    }
  }

  // navbar-nav
  .nav-item {
    a {
      transition: $main-transition;
      &.active,
      &:hover {
        color: $yellow-color !important;
        background-color: transparent;
      }
    }
    .dropdown-menu {
      transition: $main-transition;
      li {
        min-width: 200px;
      }
    }
    &:hover .dropdown-menu {
      display: block !important;
      animation: go-up 0.4s;
    }
  }
}
