@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.social svg {
  @include square_ele(40px);
  background-color: $dark-color;
  transition: $main-transition;
  &:hover {
    color: #fff !important;
    background-color: $yellow-color;
    transform: rotate(360deg) scale(1.1);
  }
}
