@use "../../sass/variables" as *;

.search {
  input {
    &::placeholder {
      transition: $main-transition;
    }
    &:focus::placeholder {
      opacity: 0;
    }
  }

  .icon {
    background-color: $yellow-color;
    inset-inline-end: 0;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      inset-inline: 0;
      transform: translateY(-50%);
      height: 0;
      background-color: $bootstrap-dark-color;
      z-index: -1;
      transition: $main-transition;
    }
    &:hover {
      &::after {
        height: 100%;
      }
    }
  }
}
