.about-us {
  &.bg-image {
    background-image: url(../../images/about-bg.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 40% 100%;
    @media (max-width: 1200px) {
      background-image: none;
    }
  }
}
