.about-us {
  &.bg-image {
    background: url(../../images/about-bg.jpg) no-repeat top right / 40% 100%;
    @media (max-width: 1200px) {
      background-image: none;
    }
    [dir="rtl"] & {
      background-position: top left;
    }
  }
}
